<div class="flex w-full p-2 text-center bg-blue-400">
  <h1 class="p-2">Server Sent event implementation</h1>
</div>

<form class="w-full p-2 bg-green-300" [formGroup]="form" (submit)="submit()">
  <div class="flex">
    <h1 class="mr-1.5">Please enter your name: </h1>
    <input type="text" formControlName="name">
  </div>
  <button class="p-2 bg-yellow-500" type="submit">submit</button>
</form>

<div class="w-full p-2">
  <ul class="p-1" *ngIf="sse$ | async as sse">
    <li *ngFor="let m of sse">{{ m.name }}</li>
  </ul>
</div>

<router-outlet></router-outlet>
